default:
  tags: 
    - docker

variables:
  CI_DEBUG_TRACE: "false"
  CI_REGISTRY_USER: ${REGISTRY_USER}
  CI_REGISTRY_PASSWORD: ${REGISTRY_PASSWORD}
  #
  PKG1_PROJECT_NAME: "Wally.Lib.DDD.Abstractions"
  PKG2_PROJECT_NAME: "Wally.Lib.DDD"

stages:
  - build
  - test
  - publish
  - deploy

build:sln:
  extends:
    - .build:dotnet

test:sln:
  extends:
    - .test:dotnet

publish:pkg1:
  extends:
    - .publish:nuget
  variables:
    PROJECT_NAME: ${PKG1_PROJECT_NAME}

publish:pkg2:
  extends:
    - .publish:nuget
  variables:
    PROJECT_NAME: ${PKG2_PROJECT_NAME}

deploy:nuget:pkg1:
  extends:
    - .deploy:nuget
  needs:
    - publish:pkg1
  variables:
    PROJECT_NAME: ${PKG1_PROJECT_NAME}

deploy:nuget:pkg2:
  extends:
    - .deploy:nuget
  needs:
    - publish:pkg2
  variables:
    PROJECT_NAME: ${PKG2_PROJECT_NAME}

include:
  - project: 'wally/wally.common.pipelines'
    ref: master
    file:
      - /src/gitlab-ci.yml