variables:
  PKG1_PROJECT_NAME: "Wally.Lib.DDD.Abstractions"
  PKG2_PROJECT_NAME: "Wally.Lib.DDD"

stages:
  - build
  - test
  - publish
  - deploy

# .dotnet:
  # # https://hub.docker.com/_/microsoft-dotnet-sdk
  # image: mcr.microsoft.com/dotnet/sdk:5.0.402-alpine3.14-amd64

build:sln:
  extends:
    - .build:dotnet

test:sln:
  extends:
    - .test:dotnet

publish:pkg1:
  extends:
    - .publish:nuget
  variables:
    PROJECT_NAME: ${PKG1_PROJECT_NAME}

publish:pkg2:
  extends:
    - .publish:nuget
  variables:
    PROJECT_NAME: ${PKG2_PROJECT_NAME}

deploy:pkg1:
  extends:
    - .deploy:nuget
  needs:
    - publish:pkg1
  variables:
    PROJECT_NAME: ${PKG1_PROJECT_NAME}

deploy:pkg2:
  extends:
    - .deploy:nuget
  needs:
    - publish:pkg2
  variables:
    PROJECT_NAME: ${PKG2_PROJECT_NAME}

include:
  - project: 'wally/wally.common.pipelines'
    ref: master
    file:
      - /src/gitlab-ci.yml